.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #021485;
  padding: 2rem;
  font-size: 2rem;
}

.login-box {
  background: white;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  width: 100%;
}

.login-box h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #021485;
}

.login-box input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.5rem;
}

.login-box button {
  width: 100%;
  padding: 1rem;
  background-color: #cc3535;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-box button:hover {
  background-color: #a82828;
}

.login-box p {
  text-align: center;
  color: red;
  font-weight: bold;
  margin-top: 1rem;
}
