@import "tailwindcss";

*{
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;  
}

html{
  font-size: 62.5%;
}

.home {
  background: url('/lanche-home-2.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-overlay {
  background-color: rgba(0, 0, 0, 0.6); /* escurece a imagem */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  text-align: center;
  max-width: 700px;
  padding: 20px;
}

.home-content p{
  font-size: 1.7rem;
}

.home-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.home-description {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.home-button {
  background-color: #ff4141;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.home-button:hover {
  background-color: #cc3535;
}

/* Seta animada para rolar para baixo */
.scroll-arrow {
  position: absolute;
  bottom: 50px;
  left: 49%;
  transform: translateX(-50%);
  font-size: 3rem;
  cursor: pointer;
  animation: bounce 1.2s infinite;
  color: white;
  user-select: none;
}

@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 10px);
  }
}

@media (max-width: 768px) {
  .home-title {
    font-size: 2.2rem;
  }

  .home-description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .home-button {
    padding: 0.8rem 1.6rem;
    font-size: 1.2rem;
  }
}

